
.vue-tagsearch {
    background-color: #e6e6e6;
    border: 1px solid #bdbdbd;
    position: relative;
    border-radius: 4px;
    box-shadow: none;
}

.vue-tagsearch-wrap {
    word-break: break-all;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 4px;
    cursor: text;
    width: 100%;
}
.vue-tagsearch-tag {
    padding: 5px;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    font-size: 12px;
    margin-left: 4px;
    line-height: 38px;
    cursor: pointer;
}
.vue-tagsearch-tag-remove::before {
    content: 'x ';
    font-weight: bold;
}
.vue-tagsearch-input {
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    border: none !important;
    border-radius: 2px;
    padding: 0 10px;
    background-color: #e6e6e6;
    width: 200px;
}
.vue-tagsearch-input:focus {
    box-shadow: none;
    outline: none;
}

.vue-tagsearch-panel__view {
    border: 1px solid transparent;
    background-color: #ffffff !important;
    border: 1px solid rgb(242, 242, 242);
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 4px 0;
}

.vue-tagsearch-panel__item {
    padding: 0 16px;
    position: relative;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    overflow: hidden
}
.vue-tagsearch-panel__item:hover {
    cursor: pointer;
}

.vue-tagsearch-panel__item.highligh-color {
    background-color: #f5f7fa;
}

.vue-tagsearch-panel__item.hover-color {
    background-color: #c5c7ca;
}

.vue-tagsearch-panel__item.highlight-color {
    background-color: rgb(237, 237, 237) !important;
}

.vue-tagsearch-panel__item:hover,
.vue-tagsearch-panel__item.hover-color {
    background-color: #166DFE !important;
    color: #fff
}

